{%extends 'base.html'%} 
{%block title%} | Listing{%endblock title%}
{%block content%}

<!-- Listing -->
<section id="listing" class="py-4">
  <div class="container">
    <a href="{%url 'listings'%}" class="btn btn-light mb-4">Back To Listings</a>
    <div class="row">
      <div class="col-md-9">
        <!-- Home Main Image -->
        <img
          src="{{ list.photo_main.url }}"
          alt=""
          class="img-main img-fluid mb-3"
        />
        <!-- Thumbnails -->
        <div class="row mb-5 thumbs">
          <div class="col-md-2">
            <a
              href="{{ list.photo_1.url }}"
              data-lightbox="home-images"
            >
              <img src="{{ list.photo_1.url }}" alt="" class="img-fluid" />
            </a>
          </div>
        
        </div>
        <!-- Fields -->
        <div class="row mb-5 fields">
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fas fa-money-bill-alt"></i> Asking Price:
                <span class="float-right">{{ list.price }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bed"></i> Bedrooms:
                <span class="float-right">{{ list.bedrooms }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bath"></i> Bathrooms:
                <span class="float-right">{{ list.bathrooms }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-car"></i> Garage:
                <span class="float-right">{{ list.garage }} </span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fas fa-th-large"></i> Square Feet:
                <span class="float-right">{{ list.sqrFeet }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-square"></i> Lot Size:
                <span class="float-right">{{ list.lot_size }} Acres </span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-calendar"></i> Listing Date:
                <span class="float-right">{{ list.listDate | timesince }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bed"></i> Realtor:
                <span class="float-right">{{ list.realtor }} </span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Description -->
        <div class="row mb-5">
          <div class="col-md-12">
            {{ list.description }}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3">
          <img
            class="card-img-top"
            src="{{ list.realtor.photo.url }}"
            alt="Seller of the month"
          />
          <div class="card-body">
            <h5 class="card-title">{{ list.description }}</h5>
            <h6 class="text-secondary">{{ list.realtor }}</h6>
          </div>
        </div>
        <button
          class="btn-primary btn-block btn-lg"
          data-toggle="modal"
          data-target="#inquiryModal"
        >
          Make An Inquiry
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Inquiry Modal -->
<div class="modal fade" id="inquiryModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{%url 'makeinquiry' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="property_name" class="col-form-label">Property:</label>
            <input
              type="text"
              name="listing"
              class="form-control"
              value="{{list}}"
              disabled
            />
             <input
              type="text"
              name="listing"
              class="form-control"
              value="{{list}}"
              hidden
            />
              <input
              type="text"
              name="listing_id"
              class="form-control"
              value="{{list.id}}"
              hidden
            />
          </div>
          {%if user.is_authenticated%}
          <div class="form-group">
            <label for="username" class="col-form-label">Name:</label>
            <input type="text" value="{{user.username}}" name="username" class="form-control" required  disabled/>
            <input type="text" value="{{user.username}}" name="username" class="form-control" required  hidden/>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" value="{{user.email}}" name="email" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="phone" class="col-form-label">Phone:</label>
            <input type="text" name="phone"  value="{{user.phone_number}}" class="form-control" />
          </div>
          {%else%}
           <div class="form-group">
            <label for="username" class="col-form-label">Name:</label>
            <input type="text" name="username" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" name="email" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="phone" class="col-form-label">Phone:</label>
            <input type="text" name="phone" class="form-control" />
          </div>
          {%endif%}
          <div class="form-group">
            <label for="message" class="col-form-label">Message:</label>
            <textarea name="message" class="form-control"></textarea>
          </div>
          <hr />
          <input
            type="submit"
            value="Send"
            class="btn btn-block btn-secondary"
          />
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock content%}
